<md-tab-group>

  <md-tab>
    <ng-template md-tab-label>
      <md-icon>keyboard</md-icon>
      Keyboard variants
    </ng-template>

    <form class="content">

      <section class="row">
        <div class="col">
          <md-slide-toggle
            [checked]="isDebug"
            [disabled]="!keyboardVisible"
            (change)="toggleDebug($event)"
          >
            Debug special keys
          </md-slide-toggle>
        </div>

        <div class="col">
          <md-slide-toggle
            [checked]="darkTheme"
            [disabled]="!keyboardVisible"
            (change)="toggleDarkTheme($event)"
          >
            Dark theme
          </md-slide-toggle>
        </div>

        <div class="col">
          <md-slide-toggle
            [checked]="hasAction"
            [disabled]="!keyboardVisible"
            (change)="toggleAction ($event)"
          >
            Closable
          </md-slide-toggle>
        </div>
      </section>

      <section class="row">
        <div class="col">
          <button
            md-raised-button
            (click)="openKeyboard(defaultLocale)"
            aria-label="Open default keyboard"
          >
            Open default keyboard ({{defaultLocale}})
          </button>
        </div>

        <div class="col">
          <md-select
            name="layout"
            [placeholder]="'select layout'"
            [(ngModel)]="locale"
          >
            <md-option
              *ngFor="let layout of layouts"
              [value]="layout.layout.lang && layout.layout.lang[0] || layout.name"
            >
              {{layout.layout.name}}
              <ng-container *ngIf="layout.layout.name !== layout.name">({{layout.name}})</ng-container>
            </md-option>
          </md-select>

          <button
            md-raised-button
            (click)="openKeyboard(locale)"
            aria-label="Open selected keyboard"
          >
            Open selected keyboard ({{locale}})
          </button>
        </div>

        <div class="col">
          <button
            md-raised-button
            (click)="closeCurrentKeyboard()"
            aria-label="Hide the example keyboard"
          >
            Close keyboard
          </button>
        </div>
      </section>

    </form>
  </md-tab>

  <md-tab>
    <ng-template md-tab-label>
      <md-icon>assignment</md-icon>
      Test form
    </ng-template>

    <form class="content">

      <section class="row">
        <md-input-container class="col">
          <input
            mdInput
            mdKeyboard
            placeholder="Locale"
            value="Sushi"
          >
        </md-input-container>

        <md-input-container class="col">
          <input
            mdInput
            [mdKeyboard]="'de-CH'"
            placeholder="de-CH"
            value="Sushi"
          >
        </md-input-container>

        <md-input-container class="col">
          <input
            mdInput
            [mdKeyboard]="'Azərbaycanca'"
            placeholder="Azərbaycanca"
            value="Sushi"
          >
        </md-input-container>
      </section>

    </form>
  </md-tab>

</md-tab-group>
