<md-tab-group>

  <md-tab>
    <ng-template md-tab-label>
      <md-icon>keyboard</md-icon>
      Keyboard variants
    </ng-template>

    <div class="content">
      <button
        md-raised-button
        (click)="openDefaultKeyboard()"
        aria-label="Show an example keyboard"
      >
        Open keyboard
      </button>

      <button
        md-raised-button
        (click)="closeCurrentKeyboard()"
        aria-label="Hide the example keyboard"
      >
        Close keyboard
      </button>

      <md-input-container>
        <input
          mdInput
          mdKeyboard
          placeholder="Favorite food"
          value="Sushi"
        >
      </md-input-container>

      <md-input-container>
        <input
          mdInput
          [mdKeyboard]="'english'"
          placeholder="Favorite food"
          value="Sushi"
        >
      </md-input-container>
    </div>
  </md-tab>

  <md-tab>
    <ng-template md-tab-label>
      <md-icon>assignment</md-icon>
      Test form
    </ng-template>

    <div class="content">
      <h1>Test form</h1>
    </div>
  </md-tab>

</md-tab-group>
