.content {
  margin: 40px 30px;
}

.row {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.col {
  box-sizing: border-box;
  flex: 1 1 auto;
  margin: 0 10px;

  button {
    width: 100%;
  }
}
