<md-tab-group>

  <md-tab>
    <ng-template md-tab-label>
      <md-icon>keyboard</md-icon>
      Keyboard variants
    </ng-template>

    <div class="content">

      <section class="row">
        <div class="col">
          <md-slide-toggle
            [checked]="isDebug"
            [disabled]="!keyboardVisible"
            (change)="toggleDebug($event)"
          >Debug special keys
          </md-slide-toggle>
        </div>
        <div class="col">
          <md-slide-toggle
            [checked]="darkTheme"
            [disabled]="!keyboardVisible"
            (change)="toggleDarkTheme($event)"
          >Dark theme
          </md-slide-toggle>
        </div>
      </section>

      <section class="row">
        <div class="col">
          <button
            md-raised-button
            (click)="openKeyboard('en-US')"
            aria-label="Show an example keyboard (en-US)"
          >
            Open keyboard (en-US)
          </button>
        </div>

        <div class="col">
          <button
            md-raised-button
            (click)="openKeyboard('de')"
            aria-label="Show ans example keyboard (de)"
          >
            Open keyboard (de)
          </button>
        </div>

        <div class="col">
          <button
            md-raised-button
            (click)="closeCurrentKeyboard()"
            aria-label="Hide the example keyboard"
          >
            Close keyboard
          </button>
        </div>
      </section>

      <section class="row">
        <md-input-container class="col">
          <input
            mdInput
            mdKeyboard
            placeholder="Locale"
            value="Sushi"
          >
        </md-input-container>

        <md-input-container class="col">
          <input
            mdInput
            [mdKeyboard]="'de-CH'"
            placeholder="de-CH"
            value="Sushi"
          >
        </md-input-container>

        <md-input-container class="col">
          <input
            mdInput
            [mdKeyboard]="'Azərbaycanca'"
            placeholder="Azərbaycanca"
            value="Sushi"
          >
        </md-input-container>
      </section>
    </div>
  </md-tab>

  <md-tab>
    <ng-template md-tab-label>
      <md-icon>assignment</md-icon>
      Test form
    </ng-template>

    <div class="content">
      <h1>Test form</h1>
    </div>
  </md-tab>

</md-tab-group>
